# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

,grade,age,school,scholarship,meducation,feducation,moccupation,foccupation,hours,frequency,seminars,attendance,preparation,notes,listening
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,3.227586,1.620690,1.944828,3.572414,2.282759,2.634483,2.358621,2.806897,2.200000,2.013793,1.213793,1.241379,1.165517,2.544828,2.055172
std,2.197678,0.613154,0.537216,0.805750,1.223062,1.147544,0.805156,1.329664,0.917424,0.539884,0.411404,0.429403,0.408483,0.564940,0.674736
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000
50%,3.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,3.000000,2.000000
75%,5.000000,2.000000,2.000000,4.000000,3.000000,3.000000,2.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000,3.000000,3.000000
max,7.000000,3.000000,3.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000