# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [2]:
import pandas as pd

df0 = pd.read_csv('DATA.csv')

df0.describe()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Output grade ("GRADE" column in the CSV file) (0: Fail, 1: DD, 2: DC, 3: CC, 4: CB, 5: BB, 6: BA, 7: AA)

**IVs**:
- Student Age  (1: 18-21, 2: 22-25, 3: above 26) ("1" column in the CSV file)
- Graduated high-school type: (1: private, 2: state, 3: other) ("3" column in the CSV file)
- Scholarship type: (1: None, 2: 25%, 3: 50%, 4: 75%, 5: Full) ("4" column in the CSV file)
- Mother's education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.) ("11" column in the CSV file)
- Father's education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.) ("12" column in the CSV file)
- Mother's occupation: (1: retired, 2: housewife, 3: government officer, 4: private sector employee, 5: self-employment, 6: other) ("15" column in the CSV file)
- Father's occupation: (1: retired, 2: government officer, 3: private sector employee, 4: self-employment, 5: other) ("16" column in the CSV file)
- Weekly study hours: (1: None, 2: <5 hours, 3: 6-10 hours, 4: 11-20 hours, 5: more than 20 hours) ("17" column in the CSV file)
- Reading frequency (scientific books/journals): (1: None, 2: Sometimes, 3: Often) ("19" column in the CSV file)
- Attendance to the seminars/conferences related to the department: (1: Yes, 2: No) ("20" column in the CSV file)
- Attendance to classes (1: always, 2: sometimes, 3: never) ("22" column in the CSV file)
- Preparation to midterm exams 2: (1: closest date to the exam, 2: regularly during the semester, 3: never) ("24" column in the CSV file)
- Taking notes in classes: (1: never, 2: sometimes, 3: always) ("25" column in the CSV file)
- Listening in classes: (1: never, 2: sometimes, 3: always) ("26" column in the CSV file)

<br>
<br>

Let's extract the relevant columns:

In [5]:

df = df0[  ['GRADE','1', '3', '4', '11', '12', '15', '16','17', '19', '20', '22', '24', '25','26']  ]

df.describe()

,GRADE,1,3,4,11,12,15,16,17,19,20,22,24,25,26
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,3.227586,1.620690,1.944828,3.572414,2.282759,2.634483,2.358621,2.806897,2.200000,2.013793,1.213793,1.241379,1.165517,2.544828,2.055172
std,2.197678,0.613154,0.537216,0.805750,1.223062,1.147544,0.805156,1.329664,0.917424,0.539884,0.411404,0.429403,0.408483,0.564940,0.674736
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000
50%,3.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,3.000000,2.000000
75%,5.000000,2.000000,2.000000,4.000000,3.000000,3.000000,2.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000,3.000000,3.000000
max,7.000000,3.000000,3.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [6]:
df = df.rename( columns={'GRADE':'grade','1':'age', '3':'school', '4':'scholarship', '11':'meducation', '12':'feducation', '15':'moccupation', '16':'foccupation','17':'hours', '19':'frequency', '20':'seminars', '22':'attendance', '24':'preparation', '25':'notes','26':'listening'} )

df.describe()

,grade,age,school,scholarship,meducation,feducation,moccupation,foccupation,hours,frequency,seminars,attendance,preparation,notes,listening
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,3.227586,1.620690,1.944828,3.572414,2.282759,2.634483,2.358621,2.806897,2.200000,2.013793,1.213793,1.241379,1.165517,2.544828,2.055172
std,2.197678,0.613154,0.537216,0.805750,1.223062,1.147544,0.805156,1.329664,0.917424,0.539884,0.411404,0.429403,0.408483,0.564940,0.674736
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000
50%,3.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,3.000000,2.000000
75%,5.000000,2.000000,2.000000,4.000000,3.000000,3.000000,2.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000,3.000000,3.000000
max,7.000000,3.000000,3.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000